/* 
-- COLOR SYSTEM 
-------------------------- 
PRIMARY - #8c057b
SECONDARY - #54034a

LIGHT - #f4e6f2
DARK - #0e000c

TEXT - #333


-- TYPOGRAPHY SYSTEM
----------------------------
- Primary font
Roboto

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6
Large: 1.8

- Letter spacing
-0.5px
0.75px

--- WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

:root {
    --primary-color: #8c057b;
    --secondary-color: #54034a;
    --tertiary-color: #380231;
    --hover-tint: #a33795;
    --lightest-tint: #f4e6f2;
    --pinkish-tint: #ddb4d7;
    --darkest-shade: #0e000c;

    --blue-hue: #339af0;
    --red-hue: #e03131;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

html {
    font-size: 62.5%;
    /* overflow-x: hidden; */
}

body {
    background-color: var(--lightest-tint);
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.6;
    color: var(--darkest-shade);
}

img {
    max-width: 100%;
}

section {
    padding: 6rem 4.2rem 12rem;
}




/* *************************** */
/* ******** NAV BAR ********** */
/* *************************** */
/* 
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6d045fb2;
    height: 72px;
    padding-right: 12px;
    position: fixed;
    width: 100%;
} */

/* img.easi-logo {
    height: 6rem;
    padding: 4px;
    min-width: 152px;
} */
/* 
.main-nav-list {
    font-size: 2rem;
    font-weight: 700;
    display: flex;
    gap: 2.4rem;
    list-style: none;
}

.main-nav-link:link,
.main-nav-link:visited {
    display: inline-block;
    padding: 1.2rem 1rem;
    text-decoration: none;
    color: var(--lightest-tint);
    transition: all .3s ease;
}

.main-nav-link:hover,
.main-nav-link:active {
    background-color: var(--hover-tint);
    transform: scale(1.05);
} */

/* MOBILE */
/* .btn-mobile-nav {
    border: none;
    background: none;
    cursor: pointer;

    display: none;
}

.icon-mobile-nav {
    height: 4.8rem;
    width: 4.8rem;
    color: #333;
}

.icon-mobile-nav[name="close-outline"] {
    display: none;
}

.section-header {
    font-size: 3.2rem;
} */
header {
    background-color: var(--primary-color);
    position: relative;
}

li {
    list-style: none;
}

a {
    color: var(--lightest-tint);
    text-decoration: none;
}

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-branding {
    font-size: 2rem;
    display: flex;
    align-items: center;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}



.nav-link {
    /* padding: 24px 30px; */
    transition: all 0.3s ease-out;
    /* padding: 20px auto; */
    text-transform: uppercase;
}

.nav-link:hover {
    color: white;
    background-color: var(--hover-tint);
}

.hamburger {
    display: none;
    /* padding-right: 18px; */
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color:var(--lightest-tint);
}

@media(max-width: 768px) {
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: absolute;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: var(--primary-color);
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active { /* this will be activated with JavaScript */
        left: 0;
    }

}

/* ***************************** */
/* *********** HERO ************ */
/* ***************************** */

.section-hero {
    height: 100vh;
    background-image: linear-gradient(to right bottom, rgba(34, 5, 34, 0.8), rgba(20, 1, 17, 0.5) ),url('images/andres-sanz-mountainCacti-unsplash.jpg');
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: 0 6px 8px rgba(20, 1, 17, 0.3);
}
.hero {
    color: var(--lightest-tint);
    max-width: 130rem;
    padding-top: 3.6rem;
}

.heading-primary {
    font-size: 5.6rem;
    line-height: 1;
    padding-bottom: 3.6rem;
}

.hero-description {
    max-width: 56rem;
    font-size: 2rem;
    margin-bottom: 3.6rem;
}

.hero-description span {
    color: var(--lightest-tint);
    font-weight: 100;
}

.hero-text-box a:link,
.hero-text-box a:visited {
    color: var(--lightest-tint);
    background-color: var(--secondary-color);
    text-decoration: none;
    font-size: 2.4rem;
    padding: 1.2rem 2.4rem;
    border-radius: 2px;
    transition: all .3s ease;
    box-shadow: 0 12px 8px 8px rgba(20, 1, 17, 0.3);
}

.hero-text-box a:hover,
.hero-text-box a:active {
    background-color: var(--hover-tint);
    box-shadow: 0 24px 12px 20px rgba(20, 1, 17, 0.3);

    /* transform: scale(1.2); */
}

/* **************************************** */
/* ************ MAIN CLIENTS ************** */
/* **************************************** */

.section-header {
    font-size: 3.2rem;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    /* idk how i feel about this but... */
    border-bottom: 1px solid #333;
}
.heading-featured-in {
    text-align: center;
    margin: 4.8rem 0;
}

.logos {
    max-width: 100%;
    margin: 3.6rem auto 0;
    display: flex;
    justify-content: center;
    gap: 9.6rem;
}



.client {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.logo {
    /* max-width: 600px; */
    max-height: 200px;
    
}

.logos a:link, .logos a:visited {
    font-size: 24px;
    display: inline-block;
    margin: 3.6rem .8rem;
    text-decoration: none;
    background-color: var(--secondary-color);
    color: var(--lightest-tint);
    width: 180px;
    padding: 1.2rem 2.4rem;
    border-radius: 2px;
    align-self: flex-start;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
    transition: all .3s ease;
    text-align: center;
}

.logos a:hover, .logos a:active {
    background-color: var(--hover-tint);
    box-shadow: 0 12px 14px 12px rgba(0, 0, 0, 0.1);

    transform: scale(1.2);
}

#clients p {
    font-size: 24px;
}

#about {
    padding-top: 6.4rem;
    color: var(--lightest-tint)
}

#about h2 {
    /* text-align: center; */
    margin-bottom: 3.6rem;
}

#about p {
    font-size: 24px;
    width: 100%;
}

.section-about {
    background-image: linear-gradient(to bottom, rgba(34, 5, 34, 0.9), rgba(20, 1, 17, 0.7) ),
    url('images/john-fowler-nm-tent-ithink-unsplash.jpg');
    background-position: 70%;
    height: auto;
    background-size: cover;    
    background-attachment: fixed;
    box-shadow: 0 6px 8px rgba(20, 1, 17, 0.3);

}

.section-about div.about {
    /* padding: 12rem 4.6rem; */
    max-width: 80rem;
    margin: 0 auto;
}

#contact {
    padding-bottom: 8rem;
}

#contact h2 {
    text-align: center;
    margin-bottom: 3.6rem;
    margin-top: 3.2rem;
}

#contact p {
    font-size: 1.8rem;
    color: var(--primary-color)
}

#contact p a:link,
#contact p a:visited {
    color: rgb(46, 46, 245)
}
.contact-flex-container {
    display: flex;
    justify-content: space-around;
    gap: 9.6rem;
    margin-top: 7.2rem;
}

.contact-flex-container h3 {
    text-decoration: underline;
    font-size: 2.4rem;
    font-weight: 700;
}

.biz-hours-blurb {
    margin-top: 3.6rem;
    text-align: center;
}

footer {
    color: var(--pinkish-tint);
    background-color: var(--secondary-color);
    height: 72px;
    text-align: center;
    padding: 24px;
}   


@media(max-width: 960px){
    .logos {
        flex-direction: column;
        
    }

    .client {
        max-width: 100%;
    }

    .client img {
        max-width: 100%;
    }

    .client p {
        width: 100%;
    }
}

@media(max-width: 768px) {
    .hero {
        padding: 24px 12px 12px;
    }

    #clients p {
        font-size: 22px;
        padding-left: 8px;
    }
    .contact-flex-container {
        flex-direction: column;
    }
}

@media screen and (max-width: 580px) {
    

@media(max-width: 480px) {
    section {
        padding: 8px;
    }
    .section-hero a.btn:link, .section-header a.btn:visited {
        width: 100%;
    }

    
}
}